test/test
*.cmi
*.o
*.cmo
*.cmx
OMakefile.omc
*.a
*.so
*.cmxa
*.run
*.opt
*.cma
src/META
.omakedb
.omakedb.lock
OMakeroot
OMakefile.omc
OMakeroot.omc
OMyMakeroot.omc
config.h
src/camlimages.ml
examples/ttfimg/ttfimg
examples/resize/resize
examples/tiffps/tiffps
examples/monochrome/monochrome
examples/imgstat/imgstat
examples/normalize/normalize
examples/crop/crop
examples/converter/converter
examples/edgedetect/edge
